<head>
    <title>Private</title>
</head>

<body>
  <main>
    <h1> Lab 10: Private</h1>

        <p>UserName: <p>
        <p>{{this.username}}</p>
        <p>First Name: </dt>
        <p>{{this.firstName}}</p>
        <p>Last Name: </p>
        <p>{{this.lastName}}</p>
        <p>Profession: </p>
        <p>{{this.profession}}</p>
        <p>Bio: </p>
        <p>{{this.bio}}</p>

    <form action="/logout" method="GET">

    <button type="submit">Logout</button>
    </form>

  </main>
</body>