<head>
    <title>Private</title>
        {{!-- https://stackoverflow.com/questions/19926641/how-to-disable-back-button-in-browser-using-javascript --}}
    <script>
      function preventBack(){window.history.forward();}
      setTimeout("preventBack()", 0);
      window.onunload=function(){null};
    </script>
</head>

<body>
  <main>
    <h1> Lab 10: Private</h1>

        <p>UserName: {{this.username}}</p>
        <p>First Name: {{this.firstName}}</p>
        <p>Last Name: {{this.lastName}}</p>
        <p>Profession: {{this.profession}}</p>
        <p>Bio: {{this.bio}}</p>

    <form  method="GET" action="logout">

    <button type="submit">Logout</button>
    </form>

  </main>
</body>